<div class="container">
    <div class="content">
      <h1>Configuração</h1>
      <button (click)="navigateTo('visualizar-formulario')" class="btn">Visualizar meus Formulários</button>
      <button (click)="navigateTo('criar-formulario')" class="btn">Criar Formulário com o template:</button>
      <button (click)="navigateTo('montar-historia')" class="btn">Montar história</button>
      <!-- <div class="forms-grid">
        <div class="form-card">
          <h3>Título da História</h3>
          <h4>Título da sua escolha</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          <div class="image-placeholder">Imagem 1</div>
          <button class="continue-btn">Continuar</button>
          <p class="disclaimer">Pode preencher tranquilamente, esta pesquisa é 100% anônima! Seus dados são confidenciais e jamais serão publicados.</p>
        </div>
      </div> -->
        <button (click)="navigateTo('menu-historia')" class="btn">Reiniciar a pesquisa</button>
    </div>
</div>
  