<header>
    <img src="../../assets/logo_conception.png" alt="Conception logo" class="logo" />
</header>
<nav>
  <ul>
    <li><a routerLink="/menu-historia" routerLinkActive="active" ariaCurrentWhenActive="page">menu-historia</a></li>
    <li><a routerLink="/template-historia" routerLinkActive="active" ariaCurrentWhenActive="page">template-historia</a></li>
    <li><a routerLink="/template-pergunta" routerLinkActive="active" ariaCurrentWhenActive="page">template-pergunta</a></li>
    <li><a routerLink="/agradecimento" routerLinkActive="active" ariaCurrentWhenActive="page">agradecimento</a></li>
    <li><a routerLink="/configuracao" routerLinkActive="active" ariaCurrentWhenActive="page">configuracao</a></li>
  </ul>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet />
