<div class="container">
  <header>
    <h1>Escolha um dos cenários:</h1>
  </header>
  <div class="scenarios">
    <div class="scenario" routerLink="/template-historia" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img src="../../assets/hetero_couple.jpg" alt="João e Maria" />
    <p>João e Maria</p>
    </div>
    <div class="scenario">
    <img src="../../assets/homo_male_couple.jpg" alt="Pedro e Mateus" />
    <p>Pedro e Mateus</p>
    </div>
    <div class="scenario">
    <img src="../../assets/homo_female_couple.jpg" alt="Ana e Marta" />
    <p>Ana e Marta</p>
    </div>
    <div class="scenario large">
    <img src="../../assets/solo_female.jpg" alt="Angelina" />
    <p>Angelina</p>
    </div>
    <div class="scenario large">
    <img src="../../assets/solo_male.jpg" alt="Pietro" />
    <p>Pietro</p>
    </div>
  </div>
  <footer>
    <p class="Tempo">Tempo estimado: 15 minutos</p>
    <p>Pode preencher tranquilamente, esta pesquisa é 100% anônima!</p>
    <p>Seus dados são confidenciais e jamais serão publicados.</p>
  </footer>
</div>

<!-- <mat-card class="historia-card" appearance="outlined">
  <mat-card-header>
    <h1> João e Maria </h1>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Vamos ver a história deles</button>
  </mat-card-actions>
</mat-card> -->